<!doctype>

<html>

  <head>
    <title><%= artist.fullName %></title>
    <link rel="stylesheet" type="text-css" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
  </head>

  <body>
    <div class="header">
      <div class="wrap">
        <div class="nav">
          <h1 class="gc">
            <a href="http://guildcollective.heroku.com/artists">
              <div class="img gc-img"></div>
            </a>
          </h1>
          <h2 class="artist-tag artist-tag-large">
            <img class="img artist-img" src="<%= artist.profilePic %>" />
            <span class="artist-name"><%= artist.fullName %></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="wrap">
        <div class="cancel-padding">
          <div class="swipeview">
            <div class="control prevbutton"></div>
            <div class="control nextbutton"></div>
            <ul id="root">
              <% pieces.forEach(function (piece) { %>
                <% if (piece.piecePic !== '') { %>
                  <li class="leaf">
                    <a href="http://guildcollective.heroku.com/pieces/<%= artist.username + '/' + piece.titleSlug %>"></a>
                    <div class="leafimg" style="background-image:url(<%= piece.piecePic %>);"></div>
                  </li>
                <% } %>
              <% }); %>
            </ul>
          </div>
        </div>
        <div class="piece-title artist-title"><%= artist.fullName %></div>
        <div class="artist-guild"><%= artist.guild %></div>
        <div class="artist-bio"><%= artist.bio %></div>
        <div class="posts">
        <div class="cancel-padding">
          <div class="piece-more"><%= 'Work from ' + artist.fullName %></div>
        </div>
        <% pieces.forEach(function (piece) { %>
          <div class="cancel-padding">
            <a href="http://guildcollective.heroku.com/pieces/<%= artist.username + '/' + piece.titleSlug %>">
              <div class="flag">
                <img class="flag-image" src="<%= piece.piecePic %>" />
                <div class="flag-body"><%= piece.title %></div>
              </div>
            </a>
          </div>
        <% }); %>
        </div>
      </div>
    </div>
    <div class="footer">
        <ul class="links">
          <li>
            <a href="http://guildcollective.heroku.com/artists" target="_blank">
              <div class="wrap">
                <div class="cancel-padding">Artists</div>
              </div>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/search?q=%23GuildCo2013" target="_blank">
              <div class="wrap">
                <div class="cancel-padding">#GuildCo2013</div>
              </div>
            </a>
          </li>
          <li>
            <a href="http://twitter.com/the_guild_co" target="_blank">
              <div class="wrap">
                <div class="cancel-padding">@the_guild_co</div>
              </div>
            </a>
          </li>
        </ul>
    </div>

    <script src="/javascripts/modernizr.js"></script>
    <script src="/javascripts/hammer.js"></script>
    <script src="/javascripts/swipeview.js"></script>
    <script>
    var myswipeView = new swipeView("#root");
    myswipeView.init();
    </script>
    
  </body>

</html>
