<!doctype>
<html>
<head>
  <title><%= artist.fullName %></title>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
</head>
<body>
  <div class="artist-info">
    <img src="<%= artist.profilePic %>" />
    <p><%= artist.fullName %></p>
    <label>Guild:
      <p><%= artist.guild %></p>
    </label>
    <label>Bio:
      <p><%= artist.bio %></p>
    </label>
  </div>
</body>
</html>
