<!doctype>
<html>
<head>
  <title><%= piece.title + ' by ' + piece.username %></title>
</head>
<body>
  <h1><%= piece.title %></h1>
  <h2><%= 'By ' + piece.username %></h2>
  <img src="<%= piece.piecePic %>" />
  <p><%= 'Creation date: ' + piece.creationDate %></p>
  <p><%= 'Medium: ' + piece.medium %></p>
  <p><%= 'Description: ' + piece.description %></p>
</body>
</html>
