<!doctype>

<html>

  <head>
    <title><%= piece.title + ' by ' + artist.fullName %></title>
    <link rel="stylesheet" type="text-css" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
  </head>

  <body>
    <div class="header">
      <div class="wrap">
        <div class="nav">
          <h1 class="gc">
            <a href="#">
              <div class="img gc-img"></div>
            </a>
          </h1>
          <h2 class="artist-tag">
            <a href="#">
              <img class="img artist-img" src="<%= artist.profilePic %>" />
              <span class="artist-name"><%= artist.fullName %></span>
            </a>
          </h2>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="wrap">
        <div class="cancel-padding">
          <img class="piece-img" src="<%= piece.piecePic %>" />
        </div>
        <h3 class="piece-title"><%= piece.title %></h3>
        <div class="piece-meta">
          <span class="piece-medium"><%= piece.medium + ' - ' %></span>
          <span class="piece-date"><%= piece.creationDate %></span>
        </div>
        <div class="piece-description">
          <p><%= piece.description %></p>
        </div>
        <div class="posts">
        <% if (otherPieces !== "No pieces found") { %>
          <% otherPieces.forEach(function (piece) { %>
            <div class="cancel-padding">
              <a href="http://guildcollective.heroku.com/pieces/<%= artist.username + '/' + piece.titleSlug %>">
                <div class="flag">
                  <img class="flag-image" src="<%= piece.piecePic %>" />
                  <div class="flag-body"><%= piece.title %></div>
                </div>
              </a>
            </div>
          <% }); %>
        <% } %>
        </div>
      </div>
    </div>
    <div class="footer">
        <ul class="links">
          <li>
            <a href="http://forefrontchurch.com" target="_blank">
              <div class="wrap">Forefront Church</div>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/search?q=%23GuildCo2013" target="_blank">
              <div class="wrap">#GuildCo2013</div>
            </a>
          </li>
          <li>
            <a href="http://twitter.com/the_guild_co" target="_blank">
              <div class="wrap">@the_guild_co</div>
            </a>
          </li>
        </ul>
    </div>
  </body>

</html>
